# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\FmiAn3Sem2\Licenta\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
